<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- 动态轮播 -->
    <div class="get" th:fragment="rotazione">
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="get-title">
                    <div class="get_font_left">
                        <img src="img/font_yjy.png" alt="">
                    </div>
                    <div class="get_font_center" id="banner_num"></div>
                    <div class="get_font_rigth">
                        <img src="img/font_zty.png" alt="">
                    </div>
                </div>

                <div class="font_line">
                    <img src="img/font_line.png" alt="">
                </div>
                <p>
                    <a href="###" class="am-btn am-btn-sm get-btn  am-radius banner_ios am-icon-apple">
                        App store</a> <a href="###"
                        class="am-btn am-btn-sm  am-radius get-btn banner_android am-icon-android">
                        Android</a>
                </p>
            </div>
        </div>
    </div>
    <!-- 动态轮播 end -->
</body>

</html>