<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" th:href="@{/css/amazeui.min.css}">
	<link rel="stylesheet" th:href="@{/css/petshow.css?6}">
	<link rel="stylesheet" th:href="@{/css/animate.min.css}">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/amazeui.min.js}"></script>
	<script th:src="@{/js/countUp.min.js}"></script>
	<script th:src="@{/js/amazeui.lazyload.min.js}"></script>
</head>

<body>

	<!--顶部导航
	<div th:replace="~{modular/header :: header }"></div>
	-->
	
	<!--动态轮播 -->
	<div th:replace="~{modular/rotazione :: rotazione }"></div>
	

	<div class="banner_navbg">
		<div class="am-g">
			<div class="banner_nav">
				<span class="am-icon-caret-right"> 筛选：</span><a href="###">人气最高</a><a href="###"
					class="banner_hover">编辑推荐</a><a href="###">最新萌宠</a><a href="###">语言涂鸦</a>
			</div>
		</div>
	</div>


	<!-- 商品展示 -->
	<div th:replace="~{modular/commodity :: divcommodity(commodityList=${commodityList}) }"></div>

	<!--底部 
	<div th:replace="~{modular/footer :: footer }"></div>
	-->


	<script th:src="@{/js/petshow.js}"></script>
</body>

</html>